
.Split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.Left {
  width: 30%;
  left: 0;
}

.Right {
  width: 70%;
  right: 0;
  background-color: rgb(175, 192, 192)
}

h3 {
  text-align: center
}

form {
  margin: 30px 30px 8px 30px;
}

input {
  display: inline-block;
  width: 100%;
  margin: 8px 0px;
  padding: 15px 18px 15px 15px;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  box-sizing: border-box
}

.AddIdea {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 32px;
  width: 86%;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  margin: 0px 30px 30px 30px;
}

button {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 1px 1px 1px 1px;
  cursor: pointer;
  height: 30px;
  width: 20%;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  margin: 0px 3px 0px 3px;
}

button:hover {
  background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
}

button:active{
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
}

.Idea {
  display: flex;
  list-style-type: none;
  /* border: 1px solid #1D9AF2;
  border-radius: 4px; */
  margin: 0px 30px 30px 30px;
}

.IdeaDetails {
  float: left;
  width: 75%
}

.IdeaScore {
  float: right;
  width: 25%;
  text-align: center
}