.App {
  padding-left: 20px;
}

.Split {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.Left {
  left: 0;
}

.Right {
  right: 0;
}

label {
  display: block;
  margin: 15px 18px 30px 15px;
}

input {
  width: 50%;
  margin-left: 10px;
  padding: 15px 18px 15px 15px;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
}

button {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}

button:hover {
  background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
}

button:active{
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
}
